{% extends "secure-base.html" %}
{% load i18n %}s
{% load static %}
{% load crispy_forms_tags %}
{% block htmlpagetitle %}politikweet:secure:social_accounts{% endblock htmlpagetitle %}
{% block header %}
    <h1>
        Social Accounts
        <small><strong>these are the social accounts you are connected to</strong></small>
    </h1>
{% endblock %}
{% block content %}
    {% if form.accounts %}
        <p class="gi-1x">{% blocktrans %}You are connected to the twitter with the following username:{% endblocktrans %}</p>
        <form method="post" action="{% url 'socialaccount_connections' %}">
            {% csrf_token %}
            <fieldset>
                {% if form.non_field_errors %}
                    <div id="errorMsg">{{ form.non_field_errors }}</div>
                {% endif %}
                {% for base_account in form.accounts %}
                    {% with base_account.get_provider_account as account %}
                        <div class="gi-2x">
                            <label for="id_account_{{ base_account.id }}">
                                <input class="m-sm" id="id_account_{{ base_account.id }}" type="radio" name="account"
                                       value="{{ base_account.id }}"/>
                                <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{ account.get_brand.name }}</span>
                                <span class="text-golden"><small>@{{ account }}</small></span>
                            </label>
                        </div>
                    {% endwith %}
                {% endfor %}
                <div>
                    <button type="submit" class="btn btn-sm col-sm-1 btn-danger">Remove</button>

                </div>
            </fieldset>
        </form>
    {% else %}
        <p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
        <h2>{% trans 'Add a 3rd Party Account' %}</h2>
        <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
        </ul>
        {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}



{% endblock %}
