{% extends "secure-base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block htmlpagetitle %}politikweet:securr:email:edit{% endblock htmlpagetitle %}
{% block header %}
    <h1>
        Email
        <small>{% trans 'The following e-mail addresses are associated to your account:' %}</small>
    </h1>
{% endblock header%}

{% block content %}
    <div class="row m">
        <div class="col-lg-offset-1 col-md-offset-1 col-md-11 col-sm-12 col-lg-11">
            {% if user.emailaddress_set.all %}
                <form action="{% url 'account_email' %}" method="post">
                    {% csrf_token %}
                    <table class="table table-responsive email-table">
                        <thead>
                            <tr>
                                <th>
                                    <h4><strong>{% trans 'address' %}</strong></h4>
                                </th>
                                <th>
                                    <h4><strong>{% trans 'status' %}</strong></h4>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for emailaddress in user.emailaddress_set.all %}
                            <tr>
                                <td>
                                    <label class="radio" for="email_radio_{{ forloop.counter }}"
                                           class="{% if emailaddress.primary %}primary_email{% endif %}">
                                        <input id="email_radio_{{ forloop.counter }}" type="radio" name="email"
                                               {% if emailaddress.primary %}checked="checked"{% endif %}
                                               value="{{ emailaddress.email }}"/>
                                        {{ emailaddress.email }}
                                    </label>
                                </td>
                                <td>
                                    {% if emailaddress.verified %}
                                        <span class="label label-info">{% trans "Verified" %}</span>
                                    {% else %}
                                        <span class="label label-warning">{% trans "Unverified" %}</span>
                                    {% endif %}
                                    {% if emailaddress.primary %}
                                        <span class="label label-success">{% trans "Primary" %}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="form-actions">
                        <button class="btn btn-success" type="submit"
                                name="action_primary">{% trans 'Make Primary' %}</button>
                        <button class="btn btn-default" type="submit"
                                name="action_send">{% trans 'Re-send Verification' %}</button>
                        <button class="btn btn-danger" type="submit" name="action_remove">{% trans 'Remove' %}</button>
                    </div>
                </form>
            {% else %}
                <p>
                    <strong>{% trans 'Warning:' %}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
                </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-md-11 col-sm-12 col-lg-11">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-md-11 col-sm-12 col-lg-11">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-md-11 col-sm-12 col-lg-11">
            <h4>{% trans "use the form below to add an email" %}</h4>
            <form method="post" action="" class="form-horizontal email-table">
                {% csrf_token %}
                {{ add_email_form|bootstrap_horizontal }}
                <div class="form-actions">
                    <button class="btn btn-primary btn-block" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $("button[name='action_remove']").click(function () {
                return confirm("{% trans 'Do you really want to remove the selected e-mail address?' %}");

            });
        });
    </script>
{% endblock %}
