{% extends "public-base.html" %}

{% load i18n %}
{% load account %}

{% block public-title %}
    politikweet:confirm:address
{% endblock %}
{% block header %}
    <h1>Confirm E-mail Address</h1>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-offset-1 col-md-12 col-lg-offset-1 col-lg-10">
            {% if confirmation %}

                {% user_display confirmation.email_address.user as user_display %}
                <p class="text-golden">
                    {% with confirmation.email_address.email as email %}
                        Please confirm that <a class="text-golden" href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
                        {{ user_display }}.
                    {% endwith %}
                </p>

                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
                </form>

            {% else %}

                {% url 'account_email' as email_url %}

                <p>This e-mail confirmation link expired or is invalid. Please
                    <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.</p>

            {% endif %}
        </div>
    </div>
{% endblock %}
