{% extends "public-base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account socialaccount %}
{% get_providers as socialaccount.providers %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block header %}
    <h1><strong>{% trans "Log In" %}</strong>
        <small>gain political insight from the written word</small>
    </h1>
{% endblock %}

{% block content %}

    {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts.
            Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in
            below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}

    <div class="row">
        <div class="col-lg-offset-3 col-md-offset-3 col-sm-12 col-md-6 col-lg-6">
            <p class="public-content-about">{% blocktrans %}If you don't have an account yet, you can
                <a href="{{ signup_url }}">create one in minutes</a>.{% endblocktrans %}</p>

            <form id="login_form" class="login form-horizontal" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <div class="form-actions">
                    <button class="btn btn-primary g-recaptcha" disabled
                            data-sitekey="6LcbKt4bAAAAAMstR2EO64xKSdTJbJlwMhBUbTjC"
                            data-callback='onSubmitLoginForm'
                            data-action='submit'
                            type="submit">{% trans "Log In" %}</button>
                    <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

                </div>
            </form>
        </div>
    </div>



{% endblock %}

