{% extends "secure-base.html" %}

{% load i18n %}

{% block header %}<h1>Sign Out</h1>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-md-9 col-sm-12 col-lg-7">
            <p>Are you sure you want to sign out?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-md-9 col-sm-12 col-lg-7">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-primary btn-block" type="submit">Logout</button>
            </form>
        </div>
    </div>
{% endblock %}
