{% extends "public-base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account %}

{% block header %}
    <h1>Reset Password</h1>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-1 col-md-9 col-sm-12 col-lg-7">
                <div class="alert-warning">
                    {% include "account/snippets/already_logged_in.html" %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-md-9 col-sm-12 col-lg-7">
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing
                        you to reset it.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <form method="POST" action="" class="bootstrap">
                        {% csrf_token %}
                        {{ password_reset_form|bootstrap }}
                        <div class="form-actions">
                            <input class="btn btn-primary" type="submit" value="Reset my password"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <p class="text-warning">
                        <small>Please contact us if you have any trouble resetting your password.</small>
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

