{% extends "secure-base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block header %}<h1><strong>Change Password</strong></h1>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-md-9 col-sm-12 col-lg-7 m-t-xxl">

                <form method="POST" action="{% url 'account_change_password' %}" class="form-horizontal">
                    {% csrf_token %}
                    {{ password_change_form|bootstrap_horizontal:'col-sm-3 col-lg-3' }}
                    <div class="form-actions">
                        <button class="btn btn-primary pull-right" type="submit" name="action">Change Password</button>
                    </div>
                </form>

        </div>
    </div>

{% endblock %}
