{% extends "public-base.html" %}

{% load bootstrap %}
{% load account socialaccount %}
{% get_providers as socialaccount.providers %}
{% load i18n %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block header %}
    <h1><strong>{% trans "Register" %}</strong><small>{% blocktrans %}Already have an account? Then please
        <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</small></h1>
{% endblock %}

{% block content %}

    <div class="form col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-6">

        {% block help_text %}

        <p class="public-content-about m-b-lg">Create an account and begin to mine the twitter-verse for valuable
            insight.</p>
        {% endblock help_text %}
        <form id="signup_form" class="" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label" for="organization_title">Organization Title</label>
                <div class="">
                    <input type="text" id="organization_title" class="form-control" name="organization_title"/>
                </div>
            </div>

            {{ form|bootstrap }}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="form-actions">
                <button class="btn btn-block btn-info gi-2x g-recaptcha"
                        data-sitekey="6LcbKt4bAAAAAMstR2EO64xKSdTJbJlwMhBUbTjC"
                        data-callback='onSubmitSignupForm'
                        data-action='submit'
                        type="submit">{% trans "Register" %}</button>

            </div>
        </form>
    </div>


{% endblock %}
