{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description"
          content="Politikweet selects tweets with URLs to articles that are fetched for you and presented via mentions(@) or hashtags(#) then analyzed for sentiment. Given that Twitter is as random as anything else, create your own query based twitter search, geo located, sentiment analysis on specific topics in specific cities.">
    <meta name="author" content="henry adam, the adam group inc.">
    <meta property="og:title" content="Analyze Public Opinion Quickly and Easily with Politikweet's Sentiment Analysis">
    <meta property="og:type" content="website">
    <title>{% block public-title %}{% endblock public-title %}</title>

   <!-- Bootstrap Core CSS -->
    <link href="{% static 'public/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'public/css/simple-sidebar.css' %}" rel="stylesheet">

    <link href="{% static 'core/css/css_unified.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'public/css/public-custom-styles.css' %}" rel="stylesheet">


    {% include "core/head.fonts.html" %}
</head>

<body>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <p class="politikweet_brand m-b-lg m-t-xl">
            <a class="gi-3x m-n" href="{% url 'secure-dashboard' %}">
                <span class="material-symbols-sharp gi-4x m-s">psychology_alt</span> Politikweet
            </a>
        </p>
        <ul class="sidebar-nav m-t-linklist">

            <li>
                <a href="{% url 'home' %}"><span class="gi-3x material-symbols-sharp">home</span>Home</a>
            </li>
            <li>
                <a href="{% url 'tag-cloud' %}"><span class="gi-3x material-symbols-sharp">radar</span>articles</a>
            </li>
            <li>
                <a href="{% url 'politikal-sentiment' %}"><span class="gi-3x material-symbols-sharp">mood</span>history</a>
            <li>
                <a href="{% url 'about' %}"><span class="gi-3x material-symbols-sharp">recent_actors</span>about</a>
            </li>

            {% if request.user.is_authenticated %}
                <li>
                    <a class="text-success" href="{% url 'account_logout' %}">
                       <span class="gi-3x material-symbols-sharp">logout</span> logout</a>
                </li>
                <li>
                    <a class="text-success" href="{% url 'secure-dashboard' %}">
                        <span class="gi-3x material-symbols-sharp">dashboard</span>dashboard</a>
                </li>

            {% else %}
                <li>
                    <a class="text-success" href="{% url 'account_login' %}">
                        <span class="gi-3x material-symbols-sharp">login</span>login</a>
                </li>
                <li>
                    <a class="text-success" href="{% url 'account_signup' %}">
                        <span class="gi-3x material-symbols-sharp">how_to_reg</span>registration
                    </a>
                </li>
            {% endif %}

        </ul>
        {% include "core/footer.html" %}
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="row">
            <div class="col-sm-12 col-md-1 col-lg-1">
                <a href="#" id="menu-toggle">
                    <span class="material-symbols-sharp md-24">menu</span>
                </a>
            </div>
            <div class="col-sm-12 col-md-9">
                {% if messages %}
                    {% for message in messages %}
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="alert alert-info alert-dismissible m-n" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <p>{{ message }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row m-t-xs m-b-xl">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="page-header">
                        {% block header %}
                        {% endblock header %}
                    </div>
                </div>
            </div>
            {% block content %}

            {% endblock content %}
        </div>
        <!-- /#wrapper -->
    </div>
</div>


<!-- jQuery -->
<script src="{% static 'public/js/jquery.js' %}" charset="utf-8" type="text/javascript"></script>
<script src="{% static 'js/utils.js' %}" charset="utf-8" type="text/javascript"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'public/js/bootstrap.min.js' %}" charset="utf-8" type="text/javascript"></script>
<script src="{% static 'js/moment.js' %}" charset="utf-8" type="text/javascript"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>

<!-- Menu Toggle Script -->
<script type="text/javascript">
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>


<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                csrftoken = getCookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function onSubmitLoginForm(token) {
        $('#login_form').submit();
    }

    function onSubmitSignupForm(token) {
        $('#signup_form').submit();
    }

</script>
{% ifequal debug False %}
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-44010406-1', 'auto');
        ga('send', 'pageview');
    </script>
{% endifequal %}

{% block scripts %}

{% endblock scripts %}

</body>

</html>
