{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description"
          content="Inevitably Twitter and Politics are connected, at the intersection is Politikweet.">
    <meta name="author" content="henry adam, the adam group inc.">

    <title>{% block public-title %}politikweet:rapid opinion/sentiment mining{{% endblock public-title %}</title>


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'public/img/public/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}/">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}/">


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'public/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'public/css/simple-sidebar.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'public/css/public-custom-styles.css' %}" rel="stylesheet">


    <style>
        @import url('https://fonts.googleapis.com/css?family=Ubuntu');
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<div class="container-fluid" style="margin-top: 7rem;">
    <div class="col-md-offset-5 col-md-5">
        <p class="text-center pull-right">
            <a href="{% url 'home' %}">
                <strong>
                    <span style="font-size: 2em;">back to politikweet</span>
                </strong>
            </a>
        </p>
    </div>
    <div class="col-md-12">
        {% block content %}

        {% endblock content %}
    </div>

</div>
<!-- /#wrapper -->
{% ifequal debug False %}
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-44010406-1', 'auto');
        ga('send', 'pageview');
    </script>
{% endifequal %}

{% block scripts %}

{% endblock scripts %}

</body>

</html>
