{% extends "interrogator-base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block htmlpagetitle %}politikweet:secure:interrogator:dashboard{% endblock htmlpagetitle %}
{% block header %}
    <h1>
        Interrogations
        <small>
            an Interrogation(s) is a <span class="gi-2x"><strong>(keyword + city)</strong></span> combination
            that then describes one(1) discreet Interrogation(s)ing unit.
        </small>
    </h1>
{% endblock %}

{% block content %}
            {% include 'interrogator/interrogation-table.html' %}
{% endblock content %}