{% extends "interrogator-base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load tz %}
{% load cache %}
{% load render_table from django_tables2 %}

{% block header %}
    <h1 class="m-b-md">
        Interrogation Unit
        <small><strong>details for you to peruse</strong></small>
    </h1>
{% endblock %}

{% block content %}
    <div class="row m-t-md m-b-md">
        <div class="col-md-offset-1 col-md-6">
            <div class="jumbotron panel">
                <h3>plaintext <small>from <span class="gi-1x">&quot;{{ keyword }}&quot;</span> study</small></h3>
                <p class="gi-2x">{{ status.full_text }}</p>
            </div>
        </div>
        <div class="col-md-4 gi-1x">
            {{ sentiment }}
        </div>
    </div>
    <div class="row m-t-md m-b-md">
        <div class="col-md-6 info">
            <h4>location <small>{{ status.user.location }}</small></h4>
            <h4>screen name <small>{{ status.user.screen_name }}</small></h4>
        </div>
        <div class="col-md-6">
            <h4>description</h4>
            <p class="gi-1x">{{ status.user.description }}</p>
        </div>
    </div>

    <div class="row m-t-md m-b-md">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading panel-title-interrogate ">url(s)</div>
                <div class="panel-body">
                    <ul class="gi-2x">
                        {% for url in urls %}
                            <li><a target="_new" href="{{ url }}">embedded url target</a></li>
                        {% empty %}
                            <li>no embedded urls reported</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading panel-title-interrogate ">hashtag(s)</div>
                <div class="panel-body">
                    <ul class="gi-2x">
                        {% for hashtag in hashtags %}
                            <li>{{hashtag}}</li>
                        {% empty %}
                            <li>no hashtags reported</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading panel-title-interrogate ">member(s) of weight</div>
                <div class="panel-body">
                    <ul class="gi-1x">
                        {% for named_entity in named_entities %}
                            <li>{{ named_entity }}</li>
                        {% empty %}
                            <li>no members of weight reported</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}