{% extends "interrogator-base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load tz %}
{% load cache %}
{% load render_table from django_tables2 %}


{% block htmlpagetitle %}Politikweet:opinion/sentiment mining:detail analysis view{% endblock htmlpagetitle %}
{% block header %}
    <h1>
        Interrogation(s)
        <small><strong>here are your Interrogation(s) results</strong></small>
    </h1>
    <p class="m-t-md">this is the detail view of this mining task. this will show ytou the progress and complete detail
        analysis when the questioning is complete.</p>
{% endblock header %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-10 m-md">
                    <button type="button" class="btn btn-warning btn-block btn-lg m-md gi-5x"
                            data-toggle="tooltip"
                            title="the subject of the search">
                        {{ interrogator.keyword}}
                    </button>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <span data-toggle="tooltip"
                            title="the subject of the search" class="material-symbols-sharp text-golden smiley-face-icon">{{ sentiment_style }}</span>
                </div>
                <div class="col-md-8 text-left">
                    <div class="politikweet-brand text-golden gi-3x">
                        <p>{{ sentiment_style_name }}</p>
                        <p>({{ sentiment_trend }}) {{ sentiment }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 text-right">
                    <p class="interrogator-panel-blockquote gi-3x">
                        <span class="material-symbols-sharp md-48">place</span>
                        {{ interrogator.city|title }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 gi-3x interrogator-panel-blockquote text-right">
                    <small>registered on:</small>
                </div>
                <div class="col-md-8 gi-3x interrogator-panel-blockquote  text-left">
                    <small> {{ interrogator.date_registered|localtime }}</small>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-4 gi-3x interrogator-panel-blockquote  text-right">
                    <small>completed on:</small>
                </div>
                <div class="col-md-8 gi-3x interrogator-panel-blockquote  text-left">
                    <small>{{ interrogator.date_completed|localtime }}</small>
                </div>
            </div>

        </div>
        <div class="col-md-6 ">
            {{ poll_unit_heatmap|safe }}
        </div>

    </div>

    <div class="row m-t-md m-b-md">
        <div class="col-md-12">
            {% render_table table_tt %}
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        $(function () {
          $('[data-toggle="popover"]').popover()
        });
    </script>
{% endblock %}