{% extends "interrogator-base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block htmlpagetitle %}politikweet::define the query and location for your opinion poll{% endblock htmlpagetitle %}

{% block header %}
    <h1 class="m-b-md">
        Interrogations
        <small><strong>define how and where you want to run the opinion analysis</strong></small>
    </h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-12">
             <div class="row m-t-lg">
                <div class="col-sm-9">
                    <blockquote>
                            think about a question that could be
                            answered with sentiment, for example,
                            how do you feel about yourself being being poor?
                    </blockquote>

                    <p>
                        In this case the simplest form of the search is to set the
                        keyword to 'poverty' and feed it to powerful Twitter computational engines, Twitter can select for relevancy,
                        all we need do is trust that Twitter chatter is as random as anything else, stochastic.
                    </p>


                </div>
            </div>
            <div class="row m-t-lg">
                <div class="col-lg-11 col-md-11 col-sm-12">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}