{% load tz %}
{% load cache %}
{% for interrogation in interrogations %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" id="interrogation_{{ interrogation.id }}">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading_{{ interrogation.id }}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapse_{{ interrogation.id }}"
                               aria-expanded="false" aria-controls="collapse_{{ interrogation.id }}">
                                <span class="material-symbols-sharp md-48">location_searching</span>{{ interrogation.keyword|title }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse_{{ interrogation.id }}" class="panel-collapse" role="tabpanel"
                         aria-labelledby="heading_{{ interrogation.id }}">

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="interrogator-panel-blockquote">
                                        <span class="material-symbols-sharp md-36">place</span>
                                        {{ interrogation.city|title }}
                                    </p>
                                    <p class="gi-2x text-golden">
                                        <span class="material-symbols-sharp md-48">
                                            {{ interrogation.sentiment_style|safe }}
                                        </span> {{ interrogation.sentiment }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-default">
                                    <small>registered
                                        on: {{ interrogation.date_registered|localtime|date:'SHORT_DATETIME_FORMAT' }}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-default">
                                    <small>completed
                                        on: {{ interrogation.date_completed|localtime|date:'SHORT_DATETIME_FORMAT'|default_if_none:'in progress' }}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-golden">
                                    <small><strong>{{ interrogation.completed_count }}</strong>/{{ interrogation.sample_size }}
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress m-t-sm">
                                        <div class="progress-bar progress-bar-info" role="progressbar"
                                             aria-valuenow="{{ interrogation.completed_count }}" aria-valuemin="0"
                                             aria-valuemax="{{ interrogation.sample_size }}"
                                             style="width:{{ interrogation.percentage_complete }}%;">
                                            <strong>{{ interrogation.percentage_complete }}%</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="img-responsive">
                                        {{ interrogation.figure|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<div class="row">
    <div class="col-md-12">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    {% if page_obj.has_previous %}
                        <a href="?page=1">first</a>
                        <a title="{{ page_obj }}" href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a>
                    {% endif %}
                </li>
                {% for i in pages %}
                    <li><a title="{{ page_obj.i }}" href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
                <li>
                    {% if page_obj.has_next %}
                        <a title="{{ page_obj }}" href="?page={{ page_obj.next_page_number }}"> next &raquo;</a>
                        <a title="{{ page_obj }}" href="?page={{ page_obj.paginator.num_pages }}">last </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        <p> <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span></p>
    </div>
</div>