{% extends "secure-base.html" %}
{% load static %}
{% block htmlpagetitle %}politikweet:secure:dashboard{% endblock htmlpagetitle %}

{% block header %}
    <h1>Control Panel<small> a snapshot of your overall virtual canvassing activity</small></h1>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Sentiment Distribution :: Day/Frequency</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <small class="text-golden h6 smaller">
                                * across all Interrogation(s)
                            </small>
                        </div>
                    </div>
                    <div class="m-n">{{ figure|safe }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Interrogation(s)</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <small class="text-golden h6">*click the keyword below to see the detail</small>
                        </div>
                    </div>

                    <ul class="nav nav-pills nav-stacked">
                            <li>
                                <div class="row">
                                    <div class="col-md-6 text-golden text-left">
                                        keyword
                                    </div>
                                    <div class="col-md-4 text-golden">
                                        progress
                                    </div>
                                    <div class="col-md-2 text-golden">
                                        opinion
                                    </div>
                                </div>
                            </li>
                        {% for i in interrogations %}
                            <li>

                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="{% url 'secure-interrogator-detail' uuid=i.uuid %}">{{ i.keyword }}</a>
                                        <small>{{ i.city.name }}, {{ i.city.region.geoname_code }}</small>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ i.completed_percentage }}"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: {{ i.completed_percentage }}%;">
                                                {{ i.completed_percentage }}%
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        {{ i.sentiment_snapshot }}
                                    </div>
                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}