<span id="{{ html_id }}_wrapper">
    <input type="text" name="{{ name }}_text" id="{{ html_id }}_text" value="" autocomplete="off" {{ extra_attrs }} />
    {% if add_link %}
        <a href="{{ add_link }}" class="add-another addlink" id="add_{{ html_id }}"
           onclick="return showAddAnotherPopup(this);"> add</a>
    {% endif %}
    <input type="hidden" name="{{ name }}" id="{{ html_id }}" value="{{ current_id }}"
           data-ajax-select="autocompleteselect" data-plugin-options="{{ data_plugin_options }}"/>
    <div id="{{ html_id }}_on_deck" class="results_on_deck text-warning">
        <div class="m-md h1">
            {{ current_repr|safe }}
        </div>
    </div>
    {% block extra_script %}

    {% endblock %}
    {% block help %}
        {% if help_text %}
            <p class="help">{{ help_text }}</p>
        {% endif %}
    {% endblock %}
</span>
