
* {
    font-family: 'Montserrat', sans-serif; !important;

}
.header {
    font-family: inherit;
}

body {
    background-color: #030225 !important;
    color:#ffffff !important;


}

html body div#wrapper div#page-content-wrapper div.row div.col-sm-12.col-md-12.col-lg-12 div.jumbotron.banner div.container h1 strong {
    color: #A91D24;
}

.nav-tabs > li > a {
	border-radius: 0 !important;

}

.banner {
    height: 14rem;
    width: 100%;
    background-color: transparent;
}

#sidebar-wrapper {
    background-color: #070d18;

}

.smiley-face-icon{
    vertical-align: middle;
    margin: .5em;
    padding: .2rem;
}

.header-2x {
    font-size: 4rem;
    font-weight: bolder;
}

.sidebar-nav {
    list-style: none;
    font-size: 1.45rem;
}

.nav-item{
    margin:.77rem;
}
.wrapper {
    background-color: #0c0c1d !important;
    min-height: 5rem;
}

.sidebar-brand {
    font-weight: 900;

}

.top-margin-high {
    margin-top: 4rem;
}

.public-content-about {
    font-size: 3.2rem;
}

.public-content-terms {
    font-size: 1.5rem;
}

.public-content-privacy {
    font-size: 1.5rem;
}

.sidebar-brand {
    font-weight: bold;
    display: inline-block !important;
}



.politikweet-brand {
    font-size: 3rem !important;
    margin: 1rem;
}

.sidebar-nav > .sidebar-brand {
    height: 8rem !important;
    font-size: 3rem !important;
}

.footer-section {
    font-weight: bold;
}

.interrogator-table-body{
    font-size: 1.4rem;
}

.interrogator-table-header{
     font-size: 1.5rem !important;
     font-weight: bold;
}
.gi-1x {
    font-size: 1.6rem !important;
}

.gi-2x {
    font-size: 2.6rem !important;
}

.gi-3x {
    font-size: 3.6rem !important;
}

.gi-4x {
    font-size: 4.6rem !important;
}

.gi-5x {
    font-size: 5.6rem !important;
}

i.navigation {
    font-size: 2rem !important;
    margin: 0;
    color: #ffa500 !important;

}

#tag-cloud-detail-modal {
    background-color: #120F3D;
}



.social {
    margin: .7rem .7rem 0;
    color: #fff;
}

.modal-content {
    background-color: #120F3D ! important;
}

#social-fb:hover {
    color: #3B5998;
    transition: all .25s;
}

#social-tw:hover {
    color: #4099FF;
    transition: all .25s;
}

#social-gp:hover {
    color: #d34836;
    transition: all .25s;
}

#social-em:hover {
    color: #f39c12;
    transition: all .25s;
}

.footer-four > img {
    width: 80%;
}

.footer-one {
    text-align: center;
}

.keyword-nav {

    font-size: 1.1rem;
    font-weight: bolder;
    background-color: rgba(167, 32, 42, 0.93);
    margin: .25rem;
    color: #ffffff !important;
    text-overflow: ellipsis;

}

/* unvisited link */

a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #ffffff;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #d24f04;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #ffffff;
    text-decoration: none;
}

.step-links > a {
    color: #fda302;
}

.step-links > a:hover {
    color: #ffb459;
}


a.tag-cloud-link-pos {
    color: #2baf15 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

a:active.tag-cloud-link-pos {
    color: #2baf15 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

a:hover.tag-cloud-link-pos {
    color: #aafa9b !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

a.tag-cloud-link-neg {
    color: #af0904 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

a:active.tag-cloud-link-neg {
    color: #af0904 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

a:hover.tag-cloud-link-neg {
    color: #fae9ea !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}


h1, .h1 {
    font-size: 4.5rem !important;
}

h2, .h2 {
    font-size: 4rem !important;
}

h3, .h3 {
    font-size: 3.25rem !important;
}

h4, .h4 {
    font-size: 2.25rem !important;
}

h5, .h5 {
    font-size: 1.25rem !important;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: normal;
    line-height: 2rem;
    color: #ffa500;
}

h1 small {
    font-size: 35% !important;
}

h2 small {
    font-size: 35% !important;
}

h3 small {
    font-size: 30% !important;
}

h4 small {
    font-size: 30% !important;
}

h5 small {
    font-size: 30% !important;
}

h6 small {
    font-size: 30% !important;
}

.sentiment-polarity {
    color: #bfc000;
    font-size: 3rem;
}

.sentiment-polarity-pos {
    color: #09d62c !important;
    font-size: 2.2rem !important;;
}

.sentiment-polarity-neg {
    color: #c00105 !important;;
    font-size: 2.2rem !important;;
}

.entity {
    color: #ff2603 !important;
    font-size: 4rem !important;
}

.article-details {
    color: #09d62c !important;
}


/* MARGINS & PADDINGS */
.p-xxs {
    padding: .3125rem !important;
}

.p-xs {
    padding: .625rem !important;
}

.p-sm {
    padding: .9375rem !important;
}

.p-m {
    padding: 1.25rem !important;
}

.p-md {
    padding: 1.56rem !important;
}

.p-lg {
    padding: 1.999rem !important;
}

.p-xl {
    padding: 2.5rem !important;
}

.m-xxs {
    margin: 2px 4px;
}

.m-xs {
    margin: 5px;
}

.m-sm {
    margin: 10px;
}

.m {
    margin: 15px;
}

.m-md {
    margin: 20px;
}

.m-lg {
    margin: 30px;
}

.m-xl {
    margin: 50px;
}

.m-n {
    margin: 0 !important;
}

.m-l-none {
    margin-left: 0;
}

.m-l-xs {
    margin-left: 5px;
}

.m-l-sm {
    margin-left: 10px;
}

.m-l {
    margin-left: 15px;
}

.m-l-md {
    margin-left: 20px;
}

.m-l-lg {
    margin-left: 30px;
}

.m-l-xl {
    margin-left: 40px;
}

.m-l-n-xxs {
    margin-left: -1px;
}

.m-l-n-xs {
    margin-left: -5px;
}

.m-l-n-sm {
    margin-left: -10px;
}

.m-l-n {
    margin-left: -15px;
}

.m-l-n-md {
    margin-left: -20px;
}

.m-l-n-lg {
    margin-left: -30px;
}

.m-l-n-xl {
    margin-left: -40px;
}

.m-t-none {
    margin-top: 0;
}

.m-t-xxs {
    margin-top: 1px;
}

.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t {
    margin-top: 15px;
}

.m-t-md {
    margin-top: 20px;
}

.m-t-lg {
    margin-top: 1.875rem;
}

.m-t-xl {
    margin-top: 40px;
}

.m-t-xxl {
    margin-top: 50px;
}

.m-t-xxxl {
    margin-top: 60px;
}

.m-t-n-xxs {
    margin-top: -1px;
}

.m-t-n-xs {
    margin-top: -5px;
}

.m-t-n-sm {
    margin-top: -10px;
}

.m-t-n {
    margin-top: -15px;
}

.m-t-n-md {
    margin-top: -20px;
}

.m-t-n-lg {
    margin-top: -30px;
}

.m-t-n-xl {
    margin-top: -40px;
}

.m-r-none {
    margin-right: 0;
}

.m-r-xxs {
    margin-right: 1px;
}

.m-r-xs {
    margin-right: 5px;
}

.m-r-sm {
    margin-right: 10px;
}

.m-r {
    margin-right: 15px;
}

.m-r-md {
    margin-right: 20px;
}

.m-r-lg {
    margin-right: 30px;
}

.m-r-xl {
    margin-right: 40px;
}

.m-r-n-xxs {
    margin-right: -1px;
}

.m-r-n-xs {
    margin-right: -5px;
}

.m-r-n-sm {
    margin-right: -10px;
}

.m-r-n {
    margin-right: -15px;
}

.m-r-n-md {
    margin-right: -20px;
}

.m-r-n-lg {
    margin-right: -30px;
}

.m-r-n-xl {
    margin-right: -40px;
}

.m-b-none {
    margin-bottom: 0;
}

.m-b-xxs {
    margin-bottom: 1px;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-b {
    margin-bottom: 15px;
}

.m-b-md {
    margin-bottom: 20px;
}

.m-b-lg {
    margin-bottom: 30px;
}

.m-b-xl {
    margin-bottom: 40px;
}

.m-b-n-xxs {
    margin-bottom: -1px;
}

.m-b-n-xs {
    margin-bottom: -5px;
}

.m-b-n-sm {
    margin-bottom: -10px;
}

.m-b-n {
    margin-bottom: -15px;
}

.m-b-n-md {
    margin-bottom: -20px;
}

.m-b-n-lg {
    margin-bottom: -30px;
}

.m-b-n-xl {
    margin-bottom: -40px;
}

.space-15 {
    margin: 15px 0;
}

.space-20 {
    margin: 20px 0;
}

.space-25 {
    margin: 25px 0;
}

.space-30 {
    margin: 30px 0;
}

#navbarfooter {
    position: absolute;
    bottom: 0;

}

.side-bar-footer {
    font-size: smaller !important;
    color: #ba2121 !important;
}

.side-bar-footer-p {
    color: #ffffff !important;
    font-weight: bold;
    font-size: smaller !important;
}

.email-table {
    border: 0 !important;
    padding: 1rem !important;
}

.email-table > thead > tr > th {
    border: 0 !important;
    padding: 1rem !important;
}

.panel {
    background-color: #183e5f;

}

.page-header {
    margin: 0;
}


/*
================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/
/*
/* Custom, iPhone Retina */
/*
@media only screen and (min-width: 320px) {
    #page-content-wrapper {
        min-height: 1200px;
    }
}
*/
/* Extra Small Devices, Phones */
/*
@media only screen and (min-width: 480px) {
    #page-content-wrapper {
        min-height: 1200px;
    }

}
*/
/* Small Devices, Tablets */
/*
@media only screen and (min-width: 768px) {
    #page-content-wrapper {
        min-height: 1200px;
    }
}
*/

/* Medium Devices, Desktops */
/*
@media only screen and (min-width: 992px) {
    #page-content-wrapper {
        min-height: 1200px;
    }
}
*/
/* Large Devices, Wide Screens */
/*
@media only screen and (min-width: 1200px) {
    #page-content-wrapper {
        min-height: 1200px;
    }

    /
}
*/
.has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #b70a2a !important;
    font-size: 1rem !important;
}

.menu-content {
    font-weight: bold !important;
    font-size: 1.5rem !important;
    padding: .333rem;
    color: #fdeeee !important;
}

.label {
    font-size: 1.57rem !important;
    font-weight: 900 !important;
}

.panel-title-interrogate {
    font-size: 2.5rem;
}

.sidebar-nav + li {
    text-indent: 1.25rem !important;
    line-height: 2.5em !important;
    padding: .2rem !important;;
}

.control-label {
    font-size: 1.5rem !important;
}

.help-block {
	margin: .633rem !important;
	color: #3af605 !important;
	font-size: small !important;
}

.panel-title + .interrogator {
    font-weight: 900 !important;
    color: #000000 !important;
    font-size: larger !important;
}

.interrogator-panel-blockquote {
    font-size: 1.65rem !important;
    color: #f7d655 !important;
    border-left-color: #f7d655 !important;
    border-left-width: .1625rem !important;
}

.text-golden {
    color: #ffa500;
}

.equal {
    display: -webkit-flex;
    display: flex;
}

.sidebar-nav li a {
    display: block;
    color: #ea5400;
    line-height: 5rem;
}

.sidebar-nav > li >  a {
    color: #ea5400 !important;
}

.sidebar-nav {
    list-style: none !important;
    color: white !important;
}

.smiley-face-icon {
    vertical-align: middle;
}

.material-symbols-sharp.md-18 {
    font-size: 2.3rem !important;

}

.material-symbols-sharp.md-24 {
    font-size: 2.5rem !important;

}

.material-symbols-sharp.md-36 {
    font-size: 2.7rem !important;

}

.material-symbols-sharp.md-48 {
    font-size: 4rem !important;

}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs > li > a {
    margin-right: .125rem;
    font-size: 1.333rem;
    color: #ea5400;
    border: none;

}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #1c4b85;
}

.sidebar-nav li {
    text-indent: 0;
}

.required {
    color: #860000 !important;
}

.fixedContainer {
    position: fixed;
    transform: translateX(-50%);
}

.table {
    font-size: 1.44rem;

}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #191b4f;
}

.table > thead > tr > th {

    background-color: #070d18;
    font-weight: 900;
    padding: 1rem .5rem 1rem .5rem;
    font-size: 1.56rem;

}


.table > thead > tr > th > td > a{
	font-size: inherit;


}

.m-t-linklist{
    position:relative;

}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: .077rem solid #171717 !important;
    padding: 1rem !important;

}


blockquote  {
	font-size: 1.333rem;
	color: #ffffff;
}