<footer class="footer m-t-xxl">

    <div class="row">
        <div class="col-lg-12 col-md-12 ">
            {% include "politikweet/sidebar_footer.html" %}
        </div>
    </div>

    <!-- Copyright -->
</footer>

