<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="{% url 'secure-dashboard' %}">control panel</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'secure-interrogator-dashboard' %}">interrogation(s) table</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'secure-interrogator-define' %}">define interrogation(s)</a>
    </li>
    <li class="nav-item {% block account_nav_email %}{% endblock %}">
        <a href="{% url 'account_email' %}">emails</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'account_change_password' %}">change password</a>
    </li>
    {% url 'socialaccount_connections' as connections_url %}
    {% if connections_url %}
        <li class="nav-item">
            <a href="{{ connections_url }}">one with the twitter technocracy</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a href="{% url 'socialaccount_connections'%}">make nice with twitter or this won't work at all</a>
        </li>
    {% endif %}
</ul>