<div class="container-fluid">
    <div class="row m-t-xxl">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <a class="side-bar-footer" href="{% url 'home' %}"><strong>Home</strong></a>
                </div>
                <div class="col-sm-4 text-center">
                    <a class="side-bar-footer" href="{% url 'privacy' %}"><strong>Privacy</strong>
                    </a>
                </div>
                <div class="col-sm-4 text-center">
                    <a class="side-bar-footer" href="{% url 'terms' %}"><strong>Terms</strong></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 m-t-md text-center">
                    <small> ©2023 The Adam Group Inc.<small>
                </div> <!-- End Col -->
            </div>
        </div>
    </div>
</div>
