{% extends "public-base.html" %}
{% load static %}
{% load humanize %}
{% block header %}
    <h1><strong>About
        <small>politikweet, what is this?</small>
    </strong></h1>
{% endblock %}

{% block content %}
    <div class="row m-b-xxl">
        <div class="col-lg-offset-1 col-lg-7 col-md-12 col-sm-12">
            <blockquote class="m-lg">
              allows users to quickly and easily canvass opinion on political issues.
              built with python, django, heroku, rabbitmqpt, celery and digital ocean technologies, politikweet
              provides a powerful platform for gathering real-time feedback from the public.
              with its intuitive interface and streamlined features such as
              automated task scheduling and message delivery via rabbitamqpt/celery integration on
              digital ocean servers, politikweet makes it easy to get quick snapshots of public opinion in no time at all.
            </blockquote>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12">
            <h4 class="text-right gi-2x vmiddle">analyze public opinion quickly and easily with politikweet's sentiment analysis</h4>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="thumbnail">
                <img class="m-md" src="{% static "public/img/public/politikweet-0006.png" %}" alt="...">
                <div class="caption">
                    <h4>snapshot opinion canvassing</h4>
                    <p>custom queries: plaintext, @mentions, or #hashtags</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="thumbnail">
                <img class="m-md" src="{% static "public/img/public/sent-0002.png" %}"
                     alt="a table displays sentiment analysis">
                <div class="caption">
                    <h4>near real time visibility</h4>
                    <p>compare and contrast</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12">
            <h5 class="gi-2x vmiddle">{{ "Unlocking the Potential of Politikweet for Political Opinion Canvassing"|lower }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12">
            <h4 class="text-right gi-2x vmiddle">read articles distilled from the twitter-verse organized around
                hashtags, keyword, and mentions</h4>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="thumbnail">
                <img class="m-md" src="{% static "public/img/public/politikweet.news.aggregator.drawio.png" %}"
                     alt="flowchart of article collection process">
                <div class="caption">
                    <h4>keywords or @mentions or #hashtags</h4>
                    <p>this is how we collect articles for you</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="thumbnail">
                <img class="m-md" src="{% static "public/img/public/sent-0001.png" %}"
                     alt="a table displays sentiment analysis">
                <div class="caption">
                    <h4>{{ "Using Politikweet to Gather Real-Time Political Feedback"|lower}}</h4>
                    <p>margin of error for the default size of 100 InterrogationUnits is aproximately 13%, less than ideal accuracy is compensated by near-real-time analysis</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7col-md-12 col-sm-12">
            <h5 class="gi-2x vmiddle">{{ "Analyzing Political Sentiment with Politikweet"|lower }}</h5>
        </div>
    </div>


{% endblock content %}