{% extends 'public-base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block public-title %}politikweet:rapid opinion/sentiment mining{% endblock public-title%}
{% block header %}
    <h1>
        <strong>Politikweet</strong>
        <small>unlock the power of public opinion or mining twitter-verse in near real time</small>
    </h1>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-2">
           <p class="gi-1x">politikweet is the ultimate tool for tracking public opinion on political issues.
               our app allows you to quickly and easily monitor the twitter stream for mentions
               and hashtags related to your chosen keywords. all mentions and hashtags to the right are active links, so you
               can stay up-to-date with the latest articles embedded in each status in near-real-time.
               get a snapshot of public opinion today with politikweet!</p>

        </div>
        <div class="col-sm-12 col-xs-12 col-md-8">
            <ul class="list-unstyled list-inline">
                {% for result in tag_cloud_results %}
                    <li class="m-xxs">
                        <a style="font-size: {% widthratio result.value 1.16 1 %}rem !important; overflow: hidden !important; text-overflow: ellipsis !important;"
                           class="{% if result.sentiment > 0 %}
                                            tag-cloud-link-pos
                                        {% elif result.sentiment < 0 %}
                                            tag-cloud-link-neg
                                        {% else %}
                                            tag-cloud-link-neutral
                                        {% endif %}"
                           title="{{ result.key }} : click to read articles related"
                           href="{% url 'tag-cloud-term-detail' search_term=result.key %}">
                            {{ result.key }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-2">
            {% include "public/keywords.html" %}
        </div>
    </div>

{% endblock content %}

