
    <div class="row m-t-xs">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <ul class="list-unstyled list-inline">
                {% for keyword in tracking %}
                    <li class="label label-primary btn-block">{{ keyword|title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
 <div class="row m-t-xs">
        <div class="col-lg-12 col-sm-12 col-md-12">
           <p class="text-danger gi-1x">
               *keywords tracked on the public twitter stream
           </p>
        </div>
    </div>

