{% extends "public-base.html" %}
{% load static %}
{% block public-title %}politikweet:rapid opinion/sentiment mining{{% endblock public-title%}

{% block header %}
    <h1><strong>Sentiment Trends <small>over time</small></strong></h1>
{% endblock header %}

{% block content %}
    <div class="row m-t-lg m-b-lg">
        <div class="col-sm-12 col-md-12 col-lg-offset-1 col-lg-4">

                <blockquote>
                    Track the keywords displayed and analyze for sentiment.
                    The twitter-verse stream is a river, we dip our ladle in to gather samples.
                    The more towards one (1) the graph gets the more positive the sentiment is for that day, conversely the closer
                    to negative one (-1) the graph gets the more negative the sentiment.
                </blockquote>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">

            {% include "public/keywords.html" %}
             <p>
                <span class="text-warning">(POSITIVE, NEUTRAL, NEGATIVE) where negative one
                    (-1) is the most negative, to one (1) the most positive
                </span>
             </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="min-height: 3em;">
            {{ graph|safe }}
        </div>
    </div>


{% endblock content %}

