{% extends "public-base.html" %}
{% load static %}
{% block public-title %}politikweet:rapid opinion/sentiment mining{{% endblock public-title%}

{% block header %}
    <h1><strong>Privacy Policy</strong></h1>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">

            <h3>Your privacy is critically important to us.</h3>

            <p class="public-content-privacy">It is Politikweet.com’s policy to respect your privacy regarding any
                information we may collect while operating our website. This Privacy Policy applies to <a
                        href="https://www.politikweet.com">https://www.politikweet.com</a> (hereinafter, "us", "we", or
                "https://www.politikweet.com"). We respect your privacy and are committed to protecting personally
                identifiable information you may provide us through the Website. We have adopted this privacy policy
                ("Privacy Policy") to explain what information may be collected on our Website, how we use this
                information, and under what circumstances we may disclose the information to third parties. This Privacy
                Policy applies only to information we collect through the Website and does not apply to our collection
                of information from other sources.</p>
            <p class="public-content-privacy">This Privacy Policy, together with the Terms and conditions posted on our
                Website, set forth the general rules and policies governing your use of our Website. Depending on your
                activities when visiting our Website, you may be required to agree to additional terms and
                conditions.</p>

            <h1>Website Visitors</h1>
            <p class="public-content-privacy">Like most website operators, Politikweet.com collects
                non-personally-identifying information of the sort that web browsers and servers typically make
                available, such as the browser type, language preference, referring site, and the date and time of each
                visitor request. Politikweet.com’s purpose in collecting non-personally identifying information is to
                better understand how Politikweet.com’s visitors use its website. From time to time, Politikweet.com may
                release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends
                in the usage of its website.</p>
            <p class="public-content-privacy">Politikweet.com also collects potentially personally-identifying
                information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on
                https://www.politikweet.com blog posts. Politikweet.com only discloses logged in user and commenter IP
                addresses under the same circumstances that it uses and discloses personally-identifying information as
                described below.</p>

            <h1>Gathering of Personally-Identifying Information</h1>
            <p class="public-content-privacy">Certain visitors to Politikweet.com’s websites choose to interact with
                Politikweet.com in ways that require Politikweet.com to gather personally-identifying information. The
                amount and type of information that Politikweet.com gathers depends on the nature of the interaction.
                For example, we ask visitors who sign up for a blog at https://www.politikweet.com to provide a username
                and email address.</p>

            <h1>Security</h1>
            <p class="public-content-privacy">The security of your Personal Information is important to us, but remember
                that no method of transmission over the Internet, or method of electronic storage is 100% secure. While
                we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee
                its absolute security.</p>

            <h1>Advertisements</h1>
            <p class="public-content-privacy">Ads appearing on our website may be delivered to users by advertising
                partners, who may set cookies. These cookies allow the ad server to recognize your computer each time
                they send you an online advertisement to compile information about you or others who use your computer.
                This information allows ad networks to, among other things, deliver targeted advertisements that they
                believe will be of most interest to you. This Privacy Policy covers the use of cookies by
                Politikweet.com and does not cover the use of cookies by any advertisers.</p>


            <h1>Links To External Sites</h1>
            <p class="public-content-privacy">Our Service may contain links to external sites that are not operated by
                us. If you click on a third party link, you will be directed to that third party's site. We strongly
                advise you to review the Privacy Policy and terms and conditions of every site you visit.</p>
            <p class="public-content-privacy">We have no control over, and assume no responsibility for the content,
                privacy policies or practices of any third party sites, products or services.</p>


            <h1>Protection of Certain Personally-Identifying Information</h1>
            <p class="public-content-privacy">Politikweet.com discloses potentially personally-identifying and
                personally-identifying information only to those of its employees, contractors and affiliated
                organizations that (i) need to know that information in order to process it on Politikweet.com’s behalf
                or to provide services available at Politikweet.com’s website, and (ii) that have agreed not to disclose
                it to others. Some of those employees, contractors and affiliated organizations may be located outside
                of your home country; by using Politikweet.com’s website, you consent to the transfer of such
                information to them. Politikweet.com will not rent or sell potentially personally-identifying and
                personally-identifying information to anyone. Other than to its employees, contractors and affiliated
                organizations, as described above, Politikweet.com discloses potentially personally-identifying and
                personally-identifying information only in response to a subpoena, court order or other governmental
                request, or when Politikweet.com believes in good faith that disclosure is reasonably necessary to
                protect the property or rights of Politikweet.com, third parties or the public at large.</p>
            <p class="public-content-privacy">If you are a registered user of https://www.politikweet.com and have
                supplied your email address, Politikweet.com may occasionally send you an email to tell you about new
                features, solicit your feedback, or just keep you up to date with what’s going on with Politikweet.com
                and our products. We primarily use our blog to communicate this type of information, so we expect to
                keep this type of email to a minimum. If you send us a request (for example via a support email or via
                one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or
                respond to your request or to help us support other users. Politikweet.com takes all measures reasonably
                necessary to protect against the unauthorized access, use, alteration or destruction of potentially
                personally-identifying and personally-identifying information.</p>

            <h1>Aggregated Statistics</h1>
            <p class="public-content-privacy">Politikweet.com may collect statistics about the behavior of visitors to
                its website. Politikweet.com may display this information publicly or provide it to others. However,
                Politikweet.com does not disclose your personally-identifying information.</p>


            <h1>Cookies</h1>
            <p class="public-content-privacy">To enrich and perfect your online experience, Politikweet.com uses
                "Cookies", similar technologies and services provided by others to display personalized content,
                appropriate advertising and store your preferences on your computer.</p>
            <p class="public-content-privacy">A cookie is a string of information that a website stores on a visitor’s
                computer, and that the visitor’s browser provides to the website each time the visitor returns.
                Politikweet.com uses cookies to help Politikweet.com identify and track visitors, their usage of
                https://www.politikweet.com, and their website access preferences. Politikweet.com visitors who do not
                wish to have cookies placed on their computers should set their browsers to refuse cookies before using
                Politikweet.com’s websites, with the drawback that certain features of Politikweet.com’s websites may
                not function properly without the aid of cookies.</p>
            <p class="public-content-privacy">By continuing to navigate our website without changing your cookie
                settings, you hereby acknowledge and agree to Politikweet.com's use of cookies.</p>


            <h1>Privacy Policy Changes</h1>
            <p class="public-content-privacy">Although most changes are likely to be minor, Politikweet.com may change
                its Privacy Policy from time to time, and in Politikweet.com’s sole discretion. Politikweet.com
                encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued
                use of this site after any change in this Privacy Policy will constitute your acceptance of such
                change.</p>


            <h1></h1>
            <p class="public-content-privacy"></p>

            <h1>Credit & Contact Information</h1>
            <p class="public-content-privacy">This privacy policy was created at <a
                    style="color:inherit;text-decoration:none;"
                    href="https://termsandconditionstemplate.com/privacy-policy-generator/"
                    title="Privacy policy template generator" target="_blank">termsandconditionstemplate.com</a>. If you
                have any questions about this Privacy Policy, please contact us via <a href="mailto:">email</a> or <a
                        href="tel:4075369219">phone</a>.</p>

        </div>
    </div>


{% endblock content %}