<div class="row">
    <div class="col-sm-12">
        <span style="color: yellow;">{{ title }}</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">{{ graph|safe }}</div>

</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Keywords</h4>
        <ul class="list-inline">
            {% for keyword in keywords %}
                <li><small><strong>{{ keyword }}</strong></small></li>
            {%  endfor  %}
        </ul>
    </div>
</div>

