{% extends "public-base.html" %}
{% load static %}
{% block header %}
    <h1><strong>Sentiment Detail
        <small>sentiment analysis</small>
    </strong></h1>
{% endblock %}
{% block content %}
    <div class="row m-t-xs m-b-xs">
        <div class="col-lg-offset-1 col-lg-3 col-md-12 col-sm-12">
            <blockquote>
                What we have here are the details of the hash tag or mention you just clicked to land here.
                The idea is to let you read news articles related to the hash tag or mention you clicked.
                Politikweet then assigns each hash tag or mention a sentiment score.
            </blockquote>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="entity">
                    <strong>{{ term }}</strong>
                </h1>
                <p class="lead text-primary">
                    {{ sentiment }}
                </p>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10 col-md-11 col-sm-11">
            <table class="table table-responsive table-condensed">
                <thead>
                <tr>
                    <th scope="col" class="text-left"><h4><strong>Article</strong></h4></th>
                    <th scope="col" class="text-center"><h4><strong>Details</strong></h4></th>
                    <th scope="col" class="text-center"><h4><strong>Sentiment</strong></h4></th>
                </tr>
                </thead>
                <tbody>
                {% for url in urls %}
                    <tr>
                        <td class="col-lg-9">
                            <a class="h6" href="{{ url.0 }}">
                                <strong>{{ url.2 }}</strong>
                            </a>
                        </td>
                        <td class="text-center col-lg-1">
                            <a data-toggle="modal" data-target="#tag-cloud-detail-modal" id="url-detail"
                               data-item="{{ url.3 }}" class="btn btn-sm btn-info">
                                <strong>Details</strong>
                            </a>
                        </td>
                        <td class="col-lg-2 text-center">
                            {% if url.1 > 0 %}
                                <span class="text-success h4">{{ url.1|safe }}</span>
                            {% elif url.1 < 0 %}
                                <span class="text-danger h4">{{ url.1|safe }}</span>
                            {% else %}
                                <span class="text-info h4">{{ url.1|safe }}</span> 
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>



        </div>
    </div>

    <div class="modal fade" id="tag-cloud-detail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title" id="myModalLabel">Article Details
                        <small>Sentence Sentiment</small>
                    </h1>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/plotly-latest.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'public/js/public.view.tag-cloud-detail.js' %}" charset="utf-8"></script>
{% endblock scripts %}