{% extends "public-base.html" %}
{% load static %}
{% block public-title %}politikweet:rapid opinion/sentiment mining{{% endblock public-title%}

{% block header %}
    <h1><strong>Articles</strong>
        <small>related to hastag and mention : frequency distribution</small>
    </h1>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 m-t-lg m-b-lg">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
                    <blockquote>
                        ...relevant search result mentions and hashtags whose size is determined by popularity
                        and color is determined using sentiment analysis that carry a URL
                    </blockquote>

                    <p class="gi-1x">the links below are live...follow them for an closer look</p>
                </div>

            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="text-warning">
                <small>* red links have negative sentiment, green links have positive sentiment</small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ul class="list-unstyled list-inline">
                {% for result in tag_cloud_results %}
                    <li class="m-xxs ">
                        <a style="font-size: {{ result.value }}rem !important; overflow: hidden !important; text-overflow: ellipsis !important;"
                           class="{% if result.sentiment > 0 %}
                                            tag-cloud-link-pos
                                        {% elif result.sentiment < 0 %}
                                            tag-cloud-link-neg
                                        {% else %}
                                            tag-cloud-link-neutral
                                        {% endif %}"
                           title="{{ result.key }}"
                           href="{% url 'tag-cloud-term-detail' search_term=result.key %}">
                            {{ result.key }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
{% block scripts %}

{% endblock scripts %}