

/* https://color.adobe.com/28X-Presidential-Poster-color-theme-8617667/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%2028X%20Presidential%20Poster

 00314C
70959E
FAE6A5
B51F1F
731414

C26FC7
949026

https://color.adobe.com/United-States-color-theme-6414685/edit/?copy=true&base=2&rule=Custom&selected=0&name=Copy%20of%20United%20States&mode=rgb&rgbvalues=0.654902,0.12549,0.164706,0.662745,0.113725,0.141176,0.0705882,0.0588235,0.239216,0.0117647,0.00784314,0.145098,0.956863,0.952941,0.929412&swatchOrder=0,1,2,3,4

A7202A
A91D24
120F3D
030225
F4F3ED


 */
* {
    font-family: 'Montserrat', sans-serif; !important;

}
body {
    background-color: #030225 !important;
    color: #ffffff !important;
    font-size: 1.4rem !important;

}

html body div#wrapper div#page-content-wrapper div.row div.col-sm-12.col-md-12.col-lg-12 div.jumbotron.banner div.container h1 strong {
    color: #A91D24;
}

.banner {
    height: 14rem;
    width: 100%;
    background-color: transparent;
}

#sidebar-wrapper {
    background-color: #120F3D;
}

.header-2x {
    font-size: 4rem;
    font-weight: bolder;
}


.wrapper {
    background-color: #0c0c1d !important;
    font-family: 'Ubuntu', sans-serif !important;
    min-height: 5rem;
}

.sidebar-brand {
    font-weight: 900;

}

.top-margin-high {
    margin-top: 4rem;
}

.public-content-about {
    font-size: 2.2rem;
}

.public-content-terms {
    font-size: 1.5rem;
}

.public-content-privacy {
    font-size: 1.5rem;
}

.politikweet-brand {

    color: #ffffff !important;
    font-size: 2.1rem !important;



}

.footer-section {
    font-weight: bold;
}

.gi-1x {
    font-size: 1.6rem !important;
}

.gi-2x {
    font-size: 2rem !important;
}

.gi-3x {
    font-size: 3rem !important;
}

.gi-4x {
    font-size: 4rem !important;
}

.gi-5x {
    font-size: 5rem !important;
}

i.navigation {
    font-size: 2rem;
    margin: 1rem;
    color: #ffa500;

}

#tag-cloud-detail-modal {
    background-color: #120F3D;
}

/* Footer */
.footer {
    position: relative;
    margin-top: 5rem;
    min-height: 12rem;

}

.footer p {
    line-height: 2rem;
    color: #fff;
}

.footer h5 {
    font-size: 2rem;

}

.footer h5:after {
    content: '';
    display: block;
    margin: 5px 0 0;
    width: 40%;
    height: 1px;
    background-color: #1e1d22;
}

.footer ul {
    list-style: none;
    line-height: 35px;
    margin: 0;
    color: #fff;

}

.footer a {
    color: #9a3101 !important;

}

.footer a:hover {
    color: #d24f04 !important;
}

/* Footer Logo */
.foot-logo {
    margin: 1rem;
    padding: 0;
    color: #ffffff !important;
}

/*footer bottom */
.footer-bottom {

    background: #2b2e4a;

}

.copyright-text p {
    color: #7d7975;
    margin-top: 18px;
    margin-bottom: 0;
    font-size: 0.9375rem;
}

.copyright-text a {
    color: #7d7975;
    margin: 0 0.625rem 0 0.625rem;

}

.copyright-text a:hover {
    color: #aece61;

}

/* Social Icons */

.social-icons {

    margin: 0;
    padding: 0;
    font-size: 0.625rem;
}

.social {
    margin: 7px 7px 7px 0px;
    color: #fff;
}

.modal-content {
    background-color: #120F3D ! important;
}

#social-fb:hover {
    color: #3b5998;
    transition: all .25s;
}

#social-tw:hover {
    color: #4099FF;
    transition: all .25s;
}

#social-gp:hover {
    color: #d34836;
    transition: all .25s;
}

#social-em:hover {
    color: #f39c12;
    transition: all .25s;
}

.footer-four > img {
    width: 80%;
}

.footer-one {
    text-align: center;
}

.keyword-nav {

    font-size: 1.1rem;
    font-weight: bolder;
    margin: .25rem;
    color: #ffa500 !important;
    text-overflow: ellipsis;

}



a.tag-cloud-link-pos {
    color: #1c7114 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

a:active.tag-cloud-link-pos {
    color: #cbb6f1 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

a:hover.tag-cloud-link-pos {
    color: #1bb804 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

a.tag-cloud-link-neg {
    color: #7b0905 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    text-overflow: ellipsis;
}

a:active.tag-cloud-link-neg {
    color: #9a6b69 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

a:hover.tag-cloud-link-neg {
    color: #fd0506 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: normal;
    line-height: 1.23;
    color: #ffa500;
}

h1 small {
    font-size: 35% !important;
}

h2 small {
    font-size: 35% !important;
}

h3 small {
    font-size: 50% !important;
}

h4 small {
    font-size: 50% !important;
}

.sentiment-polarity {
    color: #bfc000;
    font-size: 3rem;
}

.sentiment-polarity-pos {
    color: #09d62c !important;
    font-size: 2.2rem !important;
}

.sentiment-polarity-neg {
    color: #c00105 !important;;
    font-size: 2.2rem !important;;
}

.entity {
    color: #ff2603 !important;

}

.article-details {
    color: #09d62c !important;
}

html body div#wrapper div#page-content-wrapper div.container-fluid div.row div.col-lg-offset-1.col-lg-8.col-md-12.col-sm-12 p.article-details a {
    font-size: 3.3rem;
}

/* MARGINS & PADDINGS */
.p-xxs {
    padding: .3125rem !important;
}

.p-xs {
    padding: 0.625rem !important;
}

.p-sm {
    padding: 0.9375rem !important;
}

.p-m {
    padding: 0.9375rem !important;
}

.p-md {
    padding: 1.5625rem !important;
}

.p-lg {
    padding: 1.875rem !important;
}

.p-xl {
    padding: 2.5rem !important;
}

.m-xxs {
    margin: 0.125rem 0.25rem;
}

.m-xs {
    margin: 0.3125rem;
}

.m-sm {
    margin: 0.625rem;
}

.m {
    margin: 0.9375rem;
}

.m-md {
    margin: 1.25rem;
}

.m-lg {
    margin: 1.875rem;
}

.m-xl {
    margin: 3.125rem;
}

.m-n {
    margin: 0 !important;
}

.m-l-none {
    margin-left: 0;
}

.m-l-xs {
    margin-left: 0.3125rem;
}

.m-l-sm {
    margin-left: 0.625rem;
}

.m-l {
    margin-left: 0.9375rem;
}

.m-l-md {
    margin-left: 1.25rem;
}

.m-l-lg {
    margin-left: 1.875rem;
}

.m-l-xl {
    margin-left: 2.5rem;
}

.m-l-n-xxs {
    margin-left: -1px;
}

.m-l-n-xs {
    margin-left: -0.3125rem;
}

.m-l-n-sm {
    margin-left: -0.625rem;
}

.m-l-n {
    margin-left: -0.9375rem;
}

.m-l-n-md {
    margin-left: -1.25rem;
}

.m-l-n-lg {
    margin-left: -1.875rem;
}

.m-l-n-xl {
    margin-left: -2.5rem;
}

.m-t-none {
    margin-top: 0;
}

.m-t-xxs {
    margin-top: 1px;
}

.m-t-xs {
    margin-top: 0.3125rem;
}

.m-t-sm {
    margin-top: 0.625rem;
}

.m-t {
    margin-top: 0.9375rem;
}

.m-t-md {
    margin-top: 1.25rem;
}

.m-t-lg {
    margin-top: 1.875rem;
}

.m-t-xl {
    margin-top: 2.5rem;
}

.m-t-xxl {
    margin-top: 3.125rem;
}

.m-t-xxxl {
    margin-top: 3.75rem;
}

.m-t-n-xxs {
    margin-top: -1px;
}

.m-t-n-xs {
    margin-top: -0.3125rem;
}

.m-t-n-sm {
    margin-top: -0.625rem;
}

.m-t-n {
    margin-top: -0.9375rem;
}

.m-t-n-md {
    margin-top: -1.25rem;
}

.m-t-n-lg {
    margin-top: -1.875rem;
}

.m-t-n-xl {
    margin-top: -2.5rem;
}

.m-r-none {
    margin-right: 0;
}

.m-r-xxs {
    margin-right: 1px;
}

.m-r-xs {
    margin-right: 0.3125rem;
}

.m-r-sm {
    margin-right: 0.625rem;
}

.m-r {
    margin-right: 0.9375rem;
}

.m-r-md {
    margin-right: 1.25rem;
}

.m-r-lg {
    margin-right: 1.875rem;
}

.m-r-xl {
    margin-right: 2.5rem;
}

.m-r-n-xxs {
    margin-right: -1px;
}

.m-r-n-xs {
    margin-right: -0.3125rem;
}

.m-r-n-sm {
    margin-right: -0.625rem;
}

.m-r-n {
    margin-right: -0.9375rem;
}

.m-r-n-md {
    margin-right: -1.25rem;
}

.m-r-n-lg {
    margin-right: -1.875rem;
}

.m-r-n-xl {
    margin-right: -2.5rem;
}

.m-b-none {
    margin-bottom: 0;
}

.m-b-xxs {
    margin-bottom: 1px;
}

.m-b-xs {
    margin-bottom: 0.3125rem;
}

.m-b-sm {
    margin-bottom: 0.625rem;
}

.m-b {
    margin-bottom: 0.9375rem;
}

.m-b-md {
    margin-bottom: 1.25rem;
}

.m-b-lg {
    margin-bottom: 1.875rem;
}

.m-b-xl {
    margin-bottom: 2.5rem;
}

.m-b-n-xxs {
    margin-bottom: -1px;
}

.m-b-n-xs {
    margin-bottom: -0.3125rem;
}

.m-b-n-sm {
    margin-bottom: -0.625rem;
}

.m-b-n {
    margin-bottom: -0.9375rem;
}

.m-b-n-md {
    margin-bottom: -1.25rem;
}

.m-b-n-lg {
    margin-bottom: -1.875rem;
}

.m-b-n-xl {
    margin-bottom: -2.5rem;
}

.space-15 {
    margin: 0.9375rem 0;
}

.space-20 {
    margin: 1.25rem 0;
}

.space-25 {
    margin: 1.5625rem 0;
}

.space-30 {
    margin: 1.875rem 0;
}

#navbarfooter {
    position: absolute;
    bottom: 0;
    font-size: .777rem !important;
}

.sidebar-nav > .sidebar-brand {
    line-height: 4;
}

.side-bar-footer {
    font-size: 1rem !important;
    color: rgb(28, 75, 133) !important;
}

.side-bar-footer-p {
    color: #ffffff !important;
    font-weight: bold;

}

.table {
    border-bottom: 0px !important;
}

.table th, .table td {
    border: 0 !important;
}

.fixed-table-container {
    border: 0px !important;
}

.sidebar-nav {
    list-style: none !important;
    color: white !important;
    line-height: 4 !important;
    width: 100%;
}
.sidebar-nav li a {
    color: #ffffff !important;
    display: inline;
    line-height: 4 !important;
}

.sidebar-nav li a:hover {
    color: #ffffff !important;
    display: inline;
    background: none;
    line-height: 4 !important;
}

.sidebar-nav li a:visited {
    color: #ffffff !important;
    line-height: 4 !important;
}

.sidebar-nav li {
    text-indent: 1.25rem !important;
    line-height: 4 !important;

}

.sidebar-nav li:hover {
    text-indent: 1.25rem !important;
    line-height: 4 !important;
    background-color: #27263f;
}



/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/
/*
/* Custom, iPhone Retina */
/*
@media only screen and (min-width: 320px) {
    #page-content-wrapper {
        min-height: 1200px;
    }
}
*/
/* Extra Small Devices, Phones */
/*
@media only screen and (min-width: 480px) {
    #page-content-wrapper {
        min-height: 1200px;
    }

}
*/
/* Small Devices, Tablets */
/*
@media only screen and (min-width: 768px) {
    #page-content-wrapper {
        min-height: 1200px;
    }
}
*/

/* Medium Devices, Desktops */
/*
@media only screen and (min-width: 992px) {
    #page-content-wrapper {
        min-height: 1200px;
    }
}
*/
/* Large Devices, Wide Screens */
/*
@media only screen and (min-width: 1200px) {
    #page-content-wrapper {
        min-height: 1200px;
    }

    /
}
*/

.material-icons.md-18 {
    font-size: 1.8rem !important;
}

.material-icons.md-24 {
    font-size: 2rem !important;
}

.material-icons.md-36 {
    font-size: 3rem !important;
}

.material-icons.md-48 {
    font-size: 4rem !important;
}

.material-icons {
    margin: .555rem;
}

.smiley-face-icon {
    vertical-align: middle;
}

.fixedContainer {
    background-color:#ddd;
    position: fixed;
    padding: 2em;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}