{% extends 'public-base-403.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="thumbnail">
                <img src="{% static 'public/img/public/400.png' %}" alt="ERROR"
                     class="img-thumbnail img-responsive center-block">
                <div class="caption">
                    <h1 style="font-size: 5em;"><strong class="gi-5x">400 Bad Request</strong></h1>
                     <div class="row">
                        <div class="col-md-12">
                            <blockquote style="border-left: .555em solid #000000;">
                                <strong>{{ exception|default:"Bad Request"  }} </strong>
                            </blockquote>

                        </div>
                         <div class="col-md-12">
                             <p><small>{% now "SHORT_DATETIME_FORMAT" %}</small></p>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}