{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description"
          content="Politikweet selects tweets with URLs to articles that are fetched for you and presented via mentions(@) or hashtags(#) then analyzed for sentiment. Given that Twitter is as random as anything else, create your own query based twitter search, geo located, sentiment analysis on specific topics in specific cities.">
    <meta name="author" content="henry adam, the adam group inc.">
    <meta property="og:title" content="Politikweet.com make sense of all the chatter">
    <meta property="og:type" content="website">
    <title>
        {% block htmlpagetitle %}
            politikweet : virtual canvassing
        {% endblock htmlpagetitle %}
    </title>


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'public/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'public/css/simple-sidebar.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'secure/css/secure-custom-styles.css' %}" rel="stylesheet">



    <link href="{% static 'core/css/css_unified.css' %}" rel="stylesheet">

   {% include "core/head.fonts.html" %}

</head>
<body>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <p class="politikweet_brand m-b-lg m-t-xxxl">
            <a class="gi-2x m-n" href="{% url 'secure-dashboard' %}">
                <span class="material-symbols-sharp gi-3x m-s">psychology_alt</span> Politikweet
            </a>
        </p>
        <ul class="sidebar-nav m-t-linklist">
            {% if request.user.is_authenticated and not request.user.is_anonymous %}
                <li class="m-l-md">
                    <a class="m-n" href="{% url 'secure-dashboard' %}">
                        <span class="material-symbols-sharp gi-3x m-s">dashboard</span>
                        Control Panel
                    </a>
                </li>

                <li class="m-l-md">
                    <a class="m-n" href="{% url 'secure-interrogator-define' %}">
                        <span class="material-symbols-sharp gi-3x m-s">add_to_queue</span>
                        Define Interrogation(s)
                    </a>
                </li>

                <li class=" m-l-md">
                    <a class="m-n" href="{% url 'secure-interrogator-dashboard' %}">
                        <span class="material-symbols-sharp gi-3x m-s">toc</span>
                        Interrogation(s) Table
                    </a>
                </li>

                <li class="m-l-md">
                    <a href="{% url 'account_email' %}">
                        <span class="material-symbols-sharp gi-3x m-s">email</span>
                        Email
                    </a>
                </li>
                <li class="m-l-md">
                    <a class="m-n" href="{% url 'account_change_password' %}">
                        <span class="material-symbols-sharp  gi-3x m-s">password</span>
                        Password Change
                    </a>
                </li>

                <li class="m-l-md">
                    <a href="{% url 'account_logout' %}">
                        <span class="material-symbols-sharp gi-3x m-s">logout</span>
                        Logout
                    </a>
                </li>
            {% else %}
                <li class="m-l-md">
                    <a href="{% url 'account_login' %}">
                        <span class="material-symbols-sharp gi-3x m-s">login</span>
                        Login
                    </a>
                </li>
            {% endif %}
        </ul>
        {% include "core/footer.html" %}
    </div>
    <!-- /#sidebar-wrapper -->
        <div class="row">
            <div class="col-sm-12 col-md-1 col-lg-1">
                <a href="#" id="menu-toggle">
                    <span class="material-symbols-sharp text-golden m">menu</span>
                </a>
            </div>
            <div class="col-sm-12 col-md-11 col-lg-11">
                {% include "core/profile-navbar.html" %}
            </div>
        </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        {% if messages %}
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {% for message in messages %}
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="alert alert-info alert-dismissible m-sm gi-1x">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <p>{{ message }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="container-fluid">
            <div class="row m-t-xs m-b-xl">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="page-header m-t-lg m-b-lg">
                        {% block header %}
                        {% endblock header %}
                    </div>
                </div>
            </div>
            <div class="row m-t-xs">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
        <!-- /#wrapper -->

    </div>
    <!-- /#page-content-wrapper -->
</div>

<!-- jQuery -->
<script src="{% static 'public/js/jquery.js' %}" charset="utf-8" type="text/javascript"></script>
<script src="{% static 'js/utils.js' %}" charset="utf-8" type="text/javascript"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'public/js/bootstrap.min.js' %}" charset="utf-8" type="text/javascript"></script>
<script src="{% static 'js/moment.js' %}" charset="utf-8" type="text/javascript"></script>
<script src="{% static 'js/moment-timezone-with-data.js' %}"></script>
<!-- Menu Toggle Script -->
<script type="text/javascript">

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

</script>
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                csrftoken = getCookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    local_tz = moment.tz.guess();
    document.cookie = "local_tz=" + local_tz + ";path=/; samesite=strict; secure";
</script>

{% ifequal debug False %}
{#    TODO change over to google analytics 4.0#}
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-44010406-1', 'auto');
        ga('send', 'pageview');
    </script>
{% endifequal %}
{% block scripts %}
{% endblock scripts %}
</body>
</html>
