{% extends "secure-base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block htmlpagetitle %}politikweet:secure:social_accounts{% endblock htmlpagetitle %}
{% block header %}
    <h1>
        Social Accounts
        <small><strong>these are the social accounts you are connected to</strong></small>
    </h1>
{% endblock %}
{% block content %}

{% endblock %}