{% extends "organizations/organizations_base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap %}

{% block htmlpagetitle %}politikweet:organization:edit{% endblock htmlpagetitle %}

{% block header %}
    <h1>
        <strong>Edit Team</strong>
        <small>{{ organization }}</small>
    </h1>
{% endblock header %}
{% block content %}
    <div class="row m-t-lg">
        <div class="col-lg-8 col-sm-8 col-md-8">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                {{ form|bootstrap_horizontal:'col-sm-2 col-lg-2 col-md-2'   }}
                <div class="form-actions">
                    <button class="btn btn-primary pull-right" type="submit" name="action">update</button>
                </div>
            </form>

        </div>
    </div>


{% endblock %}
