{% extends "organizations/organizations_base.html" %}
{% load i18n %}
{% load org_tags %}
{% block content %}
<h1>{{ organization }}'s Members</h1>
<ul>
	<li><a href="{% url "organization_user_add" organization.pk %}">{% trans "Add a member" %}</a></li>
</ul>
{% organization_users organization %}
{% endblock %}
