{% extends "organizations/organizations_base.html" %}
{% load i18n %}
{% block htmlpagetitle %}politikweet:secure:team:list{% endblock htmlpagetitle %}
{% block header %}
    <h1 class="m-t-xxxl">
        Team
        <small>
            your team
        </small>
    </h1>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
                <p>Name</p>
              {% for organization in organizations %}
                <p>
                    <a class="" href="{{ organization.get_absolute_url }}">{{ organization }}</a>
                </p>
              {% endfor %}
        </div>
    </div>
{% endblock %}
